
:root{
  --background-color: #FDFFE4;
  --button-color: #327D38;
  --button-hover-color: #699368;
}

/******************************************
/* CSS
/*******************************************/
@-ms-viewport{
  width: device-width;
}
/* Box modal Hack */
*{
  /* border:1px solid red;  */
  box-sizing: border-box;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: rgb(43, 43, 43);
  margin: 0;
	font-size: 100%;
  min-width: 0;
}
/******************************************
/* LAYOUT
/*******************************************/
html{
  margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
body{
  background: var(--background-color);
}
main{

}
ul{
  padding: 0;
  list-style: none;
}

p{
  padding: 0;
  margin: 0;
  width: 100%;
}

a{
  text-decoration: none;
}
/* NAV SECTION */
.nav-fixed{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  z-index: 99;

}
nav{
  display: flex;
  flex-direction: column;
}
.nav-container{

  padding: 10px 10px 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  height:60px;
}
.nav-container li:first-child{
  margin-right: auto;
}
button svg{
  height: 20px;
  width: 20px;
}
.listButton svg{
  margin-bottom: 50px;
}
#logo{
margin-bottom: 2px;
margin-left: 6px;
}
#search-btn{
  padding: 10px;
  border-radius: 15px;
  background-color: var(--button-color);
  height: 35px;
  width: 45px;
  list-style: none;
  margin-left: 5px;
}
#alphabet-btn{
  padding: 10px;
  border-radius: 15px;
  background-color: var(--button-color);
  height: 35px;
  width: 45px;
  list-style: none;
  margin-left: 5px;
}
#spirits-btn{
  padding: 10px;
  border-radius: 15px;
  background-color: var(--button-color);
  width: 45px; 
  height: 35px;
  list-style: none;
  margin-left: 5px;
}
#random-btn{
  padding: 10px;
  border-radius: 15px;
  background-color: var(--button-color);
  width: 45px; 
  height: 35px;
  list-style: none;
  margin-left: 5px;
}
#close-btn{
  padding: 0px;
  border-radius: 15px;
  background-color: var(--button-color);
  height: 35px;
  width: 25px;
  list-style: none;
  margin-right: 15px;
}
/* buttons */
.fa-search{
  color: white;
}
li .fa-search{
  padding: 10px;
  border-radius: 15px;
  background-color: var(--button-color);
  height: 45px;
  width: 45px;
  list-style: none;
  margin-left: 5px;
}

.close-btn{
  display: flex;
  align-items: center;

}
.nav-bottom-container{
  display:none;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 10px 0px 100px;
}

.searchTerm {
  width: 100%;
  height: 35px;
  border: 4px solid var(--button-hover-color);
  border-right: none;
  padding: 5px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: black;
}
.searchTerm:focus{
  color:black;
}
.searchButton {
  height: 35px;
  border: none;
  border-radius: 0 15px 15px 0;
  background: var(--button-hover-color);
  padding: 2px 16px 0px 10px;
}
.listButton{
  height: 85px;
  border: none;
  border-radius: 0 15px 15px 0;
  background: var(--button-hover-color);
  padding: 2px 15px 0px 10px;
}
/* ALPHABET */
.alphabet-container{
  display: none;
  justify-content: start;
  align-items: start;
  padding: 0px 10px 0px 10px;
  height: 85px;
}
.alphabet{
  padding: 10px;
  width: 100%;
  background-color: white;
  /* border: 4px solid var(--button-hover-color); */
  border-radius: 15px 0px 0px 15px;
}
.alphabet span{
  font-size:1.7rem;
  letter-spacing: 3px; 
  font-weight: 200;
  color:black;
}

/* spirits container */
.spirits-container{
  display: none;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  height: 85px;
}
.spirits{
  width: 100%;
  background-color: var(--button-hover-color);
  border-radius: 15px 0px 0px 15px;
  padding:10px;
  background-color: white;
  /* border: 4px solid var(--button-hover-color); */
}
.spirits span{
  font-size:1.2rem;
  line-height: 2rem;
  padding:  3px 10px;
  border-radius: 10px;
  background-color: var(--button-hover-color);
  margin: 10px; 
  font-weight: 250;
  color:white
}

/* MAIN CONTAINER */
.hero-container{

}
.hero{
  overflow-y:scroll;
  overflow-x:hidden;
  overflow: auto;
  position:fixed;
  top:0;
  left:0;
  z-index: -999;
  max-height: calc(100% - 50px);
  background-color: var(--background-color);
}

/* GRID FOR CARDS */
.results{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  z-index: 66;
}

/* CARDS GENERATED FROM SEARCH FUNCTIONS */
.card-container{
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-basis: calc(50% - 0.25rem);
  
}

.card-img{
  display: block;
  margin-right: 1rem;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}
.name-ingredients{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:60%;
  word-break: keep-all;
}
.drink-name{
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #ffffff;
 
}
.drink-ingredient{
  padding: 2px;
  border-radius: 5px;
  margin-top: 1px;
  line-height: 25px;
  font-size: 0.7rem;
  font-weight: 200;
  color: black;
  background-color: white;
}
.drink-ingredient:empty
{
    display:none;
}
.drink-instructions{
  font-weight: 200;
}
.random-drink-container{
  display: none;
}
/* POP UP modal */
.modal{
  text-align: center;
  background: rgba(64, 64, 64, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: all 0.25s ease-out;
  z-index: 999;
}
.modal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 5rem;
}
.modal.open{
  opacity: 1;
  pointer-events: all;
}
.modal-name{
 padding: 10px 0px;
 background-color: rgb(34, 34, 34);
 color: white;
 width: 250px;
 margin-bottom: 0.5rem;
 border-radius: 15px;
}
.modal-img{
  width: 250px;
  margin-bottom: 0.5rem;
  border-radius: 15px;
}
.modal-img.open{
  transform: translate(-50%, -50%)scale(1);
}
.modal-ingredients{
  padding: 5px 10px;
  margin-bottom: 0.5rem;
 background-color: rgb(34, 34, 34);
 width: 250px;
 border-radius: 15px;
 font-size: 0.8rem;
 font-weight: 300px;
}
.modal-instructions{
  padding: 10px 10px;
  margin-bottom: 0.5rem;
 background-color: rgb(34, 34, 34);
 line-height: 1rem;
 color: white;
 width: 250px;
 border-radius: 15px;
 font-size: 0.8rem;
}

.hide{
  display: flex;
  animation: append-animate .4s ease;
}

/* MOBILE STYLE */
@media (max-width:600px) {



  /* MAIN */
  .main-container{
    padding: 10px;

  }
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    background: var(--background-color);
    padding-bottom: 30px;
  }
  .hero img{
    width: 65%;
    margin-left: 20px;
    padding-top: 30px;
  }
  .hero h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin: 0;
    margin-bottom: 1rem;
    width: 60%;
  
  }
  .hero p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    width: 50%;
    margin: 0;
    margin-bottom: 1rem;
  
  }
  .primary-btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: var(--button-color);
    color: white;
  }
  #blob{
    overflow-y:scroll;
    overflow-x:hidden;
    overflow: auto;
    position:fixed;
  z-index: -990;
    position: fixed;
    bottom: 120px;
    left:0;
  }
  /* CARD RESULTS FROM SEARCH */
  .card-container{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    transition: none;
    flex-basis: 100%;
    justify-content:flex-start;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(20px);
     -webkit-backdrop-filter: blur(20px);
     border:1px solid rgba(255, 255, 255, 0.18);
     box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.27);
     transition: all 300ms ease;
     z-index: 66;

  }
  .card-container:hover{
    background-color: rgba(0, 0, 0, 0.56);
  
  }

  
  .card-container:hover{

  }
  .card-img{
      max-width: 100px;
      max-height: 100px;
  }
  .drink-name{
    font-size: 1.4rem;
  }
  .drink-instructions{
    font-size: 0.8rem;
  }


  /* POP UP modal */
  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-out;
  }
  .modal.open{
    opacity: 1;
    pointer-events: all;
  }
  .modal-name{

  }
  .modal-img{

  }
  .modal-img.open{
    transform: translate(-50%, -50%)scale(1);
  }

}

@keyframes append-animate {
	from {
		margin-top: -10px;
    opacity: 0;
	}
	to {
		margin: 0px;
		opacity: 1;	
	}
}

/* animate new box */
.new-box {
	animation: append-animate .4s ease;
}